.card {
  display: grid;
  gap: 1.5rem;
  margin-top: 3rem;
}

.card picture img {
  border-radius: 0.5rem;
}

.card h5 {
  font-size: var(--fs-h5);
  letter-spacing: var(--char-space-h5);
  line-height: var(--line-space-h5);
  text-transform: uppercase;
  text-align: center;
}

.card div {
  place-self: center;
  display: grid;
  justify-items: center;
  gap: 1.5rem;
}
