.productCard {
  display: grid;
  align-content: center;
  gap: clamp(1rem, 4vw, 4.5rem);
}

.productDetail {
  gap: clamp(1rem, 2.5vw, 3rem);
}

.productCard h2 {
  text-transform: uppercase;
  font-size: var(--fs-h2);
  line-height: var(--line-space-h2);
  letter-spacing: var(--char-space-h2);
}

.productCard h6 {
  font-size: var(--fs-h6);
  line-height: var(--line-space-h6);
  letter-spacing: var(--char-space-h6);
}

.description {
  color: var(--primary-clr-600);
  font-weight: var(--fw-medium);
}

.overline {
  color: var(--primary-clr-500);
  font-size: var(--fs-overline);
  font-weight: var(--fw-regular);
  line-height: var(--line-space-overline);
  letter-spacing: var(--char-space-overline);
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.innerContainer,
.innerContainer button {
  background-color: var(--accent-clr-200);
}

.innerContainer button {
  border: none;
  color: var(--primary-clr-600);
  cursor: pointer;
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  transition: color 0.3s;
}

.innerContainer button:hover {
  color: var(--primary-clr-500);
}

@media (max-width: 1000px) {
  .productCard {
    grid-row: 2;
    grid-column: 1 / -1;
    justify-items: center;
  }

  .productDetail {
    grid-row: unset;
    grid-column: unset;
    justify-items: start;
  }

  .description,
  .productCard h2 {
    text-align: center;
  }

  .productDetail h2,
  .productDetail p {
    text-align: left;
  }
}
