.card {
  background-color: #f1f1f1;
  display: grid;
  place-items: center;
  align-items: end;
  position: relative;
  width: 20rem;
  height: 12rem;
  border-radius: 0.5rem;
}

.thumbnail {
  height: 9rem;
  position: absolute;
  top: -50%;
  transform: translateY(30%);
}

.card h6 {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--fs-h6);
  line-height: var(--line-space-h6);
  letter-spacing: var(--char-space-h6);
}

@media (max-width: 1200px) {
  .card {
    width: 14rem;
  }
}

@media (max-width: 700px) {
  .card {
    width: 100%;
    max-height: 8rem;
  }

  .thumbnail {
    transform: translateY(0%);
  }
}
