.hero {
  background-color: var(--primary-clr-900);
  background-image: url("/assets/home/desktop/image-hero.jpg");
  background-position: center -120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 950px) {
  .hero {
    background-image: url("/assets/home/tablet/image-header.jpg");
    background-position: center -120px;
  }
}

@media (max-width: 540px) {
  .hero {
    background-image: url("/assets/home/mobile/image-header.jpg");
    background-position: center -180px;
  }
}
